*{
    margin: 0;
    padding: 0;
    /* background-color: lightcyan; */
}
body{
    background-color: lightcyan;   
}
.one{
    text-align: center;
}

.imgsize{
    width: 60%;
    height: 80%;
}

#st-1.st-left {
    left: 0px;
    top: 20%;
}

.vision_heading{
    background-color: beige !important;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: crimson;
    text-align: center;
    font-weight: bold;
    margin: 8px 8px;

}

.vision{
    background-color: beige !important;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: large;

}

.achievements{
    background-color: beige !important;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: large;
}

.achievements_heading{
    background-color: beige !important;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: crimson;
    text-align: center;
    font-weight: bold;
    margin: 8px 8px;
}

.vision_part{
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: beige !important;
    box-shadow: 30px;
    
}

.achievements_part{
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: beige !important;
    box-shadow: 30px;
    
}